/*Login*/
/*Desktop*/
@media screen and (min-width: 321px)
{
    .PageContainer 
    {
    width: 520px;
    height: 99%;
    }

    .HeaderTitle 
    {
        font: 16px Cambria, serif;
        font-weight: bold;
        margin: 10px;
        margin-left: 5px;
    }
    
    .HeaderContent 
    {
        font: 12px Cambria, serif;
        font-style: italic;
        margin: 5px;
    }
    
    .MainContent
    {
        font: 12px Calibri, sans-serif;
        border-radius: 50px;
    	border: 3px solid turquoise;
    	padding: 20px;
    	background-color: lightcyan;
    }

    .MainContentHeight 
    {
        height: 375px;
    }
    
    .LeftHalfContent 
    {
        float: left;
        width: 50%;
    }

    .LeftInfoContent 
    {
        width: 210px;
    }
    
    .RightHalfContent 
    {
        float: right;
        width: 50%;
    }
    
    .Left40Content 
    {
        float: left;
        width: 40%;
    }
    
    .Right60Content 
    {
        float: right;
        width: 60%;
    }
    
    .LoginContent 
    {
        width: 100%;
        height: 140px;
    }

    #TopMobileLoginDiv, #CAInfoDiv
    {
        visibility: collapse;
        height: 0px;
        width: 0px;
    }
    
    .TextBox 
    {
        width: 160px;
        height: 22px;
    }
    
    .LoginLabel 
    {
        width: 30%;
        display: inline-block;
        font-weight: bold;
    }
    
    .LoginLabelMoreSpace 
    {
        width: 42%
    }
    
    .LoginInfoRow 
    {
        margin-top: 5px;
        margin-bottom: 2.5px;
    }

    .ErrorText 
    {
        margin-left: 50%; 
        visibility: hidden;
        color: red;
        font-weight: bold;
    }
    
    .SubmitButton 
    {
        float: right;
        margin-left: 10px;
        height: 25px;
        width: 110px;
        background-color: darkcyan;
        border-radius: 12px;
        color: white;
        border: 2px solid turquoise;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    
    .SubmitButton:hover
    {
        background-color: #F5FFFF;
        color: black;
    }
    
    .CreateAccountContent {
        width: 100%;
        border-top: 2px solid turquoise;
        height: 235px;
        padding-top: 15px;
    }
    
    .FooterContent 
    {
        font: 12px Calibri, sans-serif;
        margin: 5px;
    }
}

/*Mobile*/
@media screen and (max-width: 320px)
{
    .PageContainer 
    {
        width: 292px;
        height: 99%;
    }

    .HeaderTitle 
    {
        margin: 10px;
        margin-left: 5px;
        text-align: center;
    }

    .BigText 
    {
        font: 16px Cambria, serif;
        font-weight: bold;
    }
    
    .HeaderContent {
        font: 12px Cambria, serif;
        font-style: italic;
        margin: 5px;
        text-align: center;
    }
    
    .MainContent
    {
        font: 12px Calibri, sans-serif;
        border-radius: 50px;
    	border: 3px solid turquoise;
    	padding: 20px;
    	background-color: lightcyan;
    }

    .MainContentHeight 
    {
        height: 450px;
    }
    
    .LeftHalfContent 
    {
        width: 0px;
        height: 0px;
        visibility: collapse;
    }
    
    .Left40Content 
    {
        visibility: collapse;
        width: 0px;
        height: 0px;
    }
    
    .LoginContent 
    {
        width: 100%;
        height: 175px;
    }
    
    .TextBox 
    {
        width: 120px;
        height:25px;
        float: right;
    }

    .AdditionalLength {
        width: 160px;
    }
    
    .LoginLabel 
    {
        width: 30%;
        display: inline-block;
        font-weight: bold;
    }
    
    .LoginLabelMoreSpace 
    {
        width: 50%;
    }
    
    .LoginInfoRow 
    {
        margin-top: 5px;
        margin-bottom: 2.5px;
    }

    .ErrorText 
    {
        margin-left: 50%;
        color: red;
        font-weight: bold;
        float: right;
        visibility: hidden;
    }
    
    .SubmitButton 
    {
        margin: 15px;
        width: 230px;
        height: 40px;
        background-color: darkcyan;
        border-radius: 12px;
        color: white;
        border: 2px solid turquoise;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    
    .SubmitButton:hover
    {
        background-color: #F5FFFF;
        color: black;
    }
    
    .CreateAccountContent {
        width: 100%;
        border-top: 2px solid turquoise;
        padding-top: 20px;
        height: 250px;
    }
    
    .FooterContent 
    {
        font: 12px Calibri, sans-serif;
        margin: 5px;
    }
}


/*Account Info*/
/*Desktop*/

/*Mobile*/